In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import tensorflow as tf
from tensorflow.keras import Sequential
from pickle import load
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import MinMaxScaler
from pickle import dump
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata
import nltk
# nltk.download('vader_lexicon')
import warnings
warnings.filterwarnings("ignore")

In [31]:
tweets = pd.read_csv(r"C:\Users\prajjwal\Desktop\College-project\data\stock_tweets.csv")
stocks = pd.read_csv(r"C:\Users\prajjwal\Desktop\College-project\data\stock_yfinance_data.csv")

In [32]:
tweets['Date'] = pd.to_datetime(tweets['Date']).dt.date
stocks['Date'] = pd.to_datetime(stocks['Date'])

In [33]:
print(tweets.shape)
print(stocks.shape)

(80793, 4)
(6300, 8)

In [34]:
tweets.columns

Index(['Date', 'Tweet', 'Stock Name', 'Company Name'], dtype='object')

In [35]:
tesla_stocks = stocks.iloc[:252]
mst_stocks= stocks.iloc[252:504]
pg_stocks = stocks.iloc[504:756]
meta_stocks = stocks.iloc[756:1008]
amzn_stocks = stocks.iloc[1008:1260]
glg_stocks = stocks.iloc[1260:1512]
amd_stocks = stocks.iloc[1512:1764]
apl_stocks = stocks.iloc[1764:2016]
nfl_stocks = stocks.iloc[2016:2268]
tsm_stocks = stocks.iloc[2268:2520]
ko_stocks = stocks.iloc[2520:2772]
f_stocks = stocks.iloc[2772:3024]
cost_stocks = stocks.iloc[3024:3276]
dis_stocks = stocks.iloc[3076:3526]
vz_stocks = stocks.iloc[3526:3780]
crm_stocks = stocks.iloc[3780:4032]
intc_stocks = stocks.iloc[4032:4284]
ba_stocks = stocks.iloc[4284:4536]
bx_stocks = stocks.iloc[4536:4787]
noc_stocks = stocks.iloc[4787:5040]
pypl_stocks = stocks.iloc[5040:5293]
enph_stocks = stocks.iloc[5293:5544]
nio_stocks = stocks.iloc[5544:5796]
zs_stocks = stocks.iloc[5796:6048]
xpv_stocks = stocks.iloc[6048:6301]

In [36]:
stocks.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name
0,2021-09-30,260.333344,263.043335,258.333344,258.493347,258.493347,53868000,TSLA
1,2021-10-01,259.466675,260.260010,254.529999,258.406677,258.406677,51094200,TSLA
2,2021-10-04,265.500000,268.989990,258.706665,260.510010,260.510010,91449900,TSLA
3,2021-10-05,261.600006,265.769989,258.066681,260.196655,260.196655,55297800,TSLA
4,2021-10-06,258.733337,262.220001,257.739990,260.916656,260.916656,43898400,TSLA
5,2021-10-07,261.820007,268.333344,261.126678,264.536682,264.536682,57587400,TSLA
6,2021-10-08,265.403320,265.459991,260.303345,261.829987,261.829987,50215800,TSLA
7,2021-10-11,262.549988,267.079987,261.833344,263.980011,263.980011,42600900,TSLA
8,2021-10-12,266.976654,270.773346,265.523346,268.573334,268.573334,66060000,TSLA
9,2021-10-13,270.156677,271.803345,268.593323,270.359985,270.359985,42360300,TSLA

In [37]:
import talib as ta
from sklearn.preprocessing import MinMaxScaler

def calculate_technical_indicators(df):
    # Calculate RSI with a default window of 3
    df['rsi'] = ta.RSI(df['Close'], timeperiod=7)
    
    # Calculate ADX with a default window of 14
    df['adx'] = ta.ADX(df['High'], df['Low'], df['Close'], timeperiod=7)
    
    # Calculate ATR with a default window of 14
    df['atr'] = ta.ATR(df['High'], df['Low'], df['Close'], timeperiod=7)
    
    # Calculate Simple Moving Averages for 'Close' (you can also use other columns)
    df['sma_3'] = ta.SMA(df['Close'], timeperiod=3)

    df['sma_7'] = ta.SMA(df['Close'], timeperiod=7)

    df['sma_14'] = ta.SMA(df['Close'], timeperiod=14)

    # Normalize the columns 'rsi', 'adx', 'sma_3', 'atr'
    columns_to_normalize = ['Open','High','Low','Volume','rsi', 'adx', 'sma_3', 'sma_7', 'sma_14', 'atr']
    scaler = MinMaxScaler()

    df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
    df.rsi.fillna(method= 'bfill', inplace=True)
    df.sma_3.fillna(method= 'bfill', inplace=True)
    df.adx.fillna(method= 'bfill', inplace=True)
    df.atr.fillna(method= 'bfill',inplace=True)
    df.sma_7.fillna(method= 'bfill', inplace=True)
    df.sma_14.fillna(method= 'bfill', inplace=True)
    
    return df

In [38]:
tesla_stocks = calculate_technical_indicators(tesla_stocks)
mst_stocks = calculate_technical_indicators(mst_stocks)
pg_stocks = calculate_technical_indicators(pg_stocks)
meta_stocks = calculate_technical_indicators(meta_stocks)
amzn_stocks = calculate_technical_indicators(amzn_stocks)
glg_stocks = calculate_technical_indicators(glg_stocks)
amd_stocks = calculate_technical_indicators(amd_stocks)
apl_stocks = calculate_technical_indicators(apl_stocks)
nfl_stocks = calculate_technical_indicators(nfl_stocks)
tsm_stocks = calculate_technical_indicators(tsm_stocks)
ko_stocks = calculate_technical_indicators(ko_stocks)
f_stocks = calculate_technical_indicators(f_stocks)
cost_stocks = calculate_technical_indicators(cost_stocks)
dis_stocks = calculate_technical_indicators(dis_stocks)
vz_stocks = calculate_technical_indicators(vz_stocks)
crm_stocks = calculate_technical_indicators(crm_stocks)
intc_stocks = calculate_technical_indicators(intc_stocks)
ba_stocks = calculate_technical_indicators(ba_stocks)
bx_stocks = calculate_technical_indicators(bx_stocks)
noc_stocks = calculate_technical_indicators(noc_stocks)
pypl_stocks = calculate_technical_indicators(pypl_stocks)
enph_stocks = calculate_technical_indicators(enph_stocks)
nio_stocks = calculate_technical_indicators(nio_stocks)
zs_stocks = calculate_technical_indicators(zs_stocks)
xpv_stocks = calculate_technical_indicators(xpv_stocks)

In [39]:
glg_stocks

,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name,rsi,adx,atr,sma_3,sma_7,sma_14
1260,2021-09-30,0.674269,0.687310,0.683562,133.265503,133.265503,0.295396,GOOG,0.867603,0.305197,0.249060,0.699125,0.746314,0.781485
1261,2021-10-01,0.659959,0.715360,0.690636,136.462494,136.462494,0.206040,GOOG,0.867603,0.305197,0.249060,0.699125,0.746314,0.781485
1262,2021-10-04,0.699797,0.689394,0.649206,133.764999,133.764999,0.246694,GOOG,0.867603,0.305197,0.249060,0.699125,0.746314,0.781485
1263,2021-10-05,0.668233,0.720871,0.702300,136.177002,136.177002,0.150894,GOOG,0.867603,0.305197,0.249060,0.718073,0.746314,0.781485
1264,2021-10-06,0.679850,0.730152,0.711416,137.354004,137.354004,0.094454,GOOG,0.867603,0.305197,0.249060,0.723876,0.746314,0.781485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,2022-09-23,0.037888,0.015341,0.027920,99.169998,99.169998,0.170704,GOOG,0.101459,0.905660,0.135047,0.023950,0.050024,0.066830
1508,2022-09-26,0.010958,0.021591,0.034853,98.809998,98.809998,0.129052,GOOG,0.088754,0.948700,0.107594,0.016140,0.035458,0.053488
1509,2022-09-27,0.035102,0.021970,0.015365,98.089996,98.089996,0.152175,GOOG,0.062647,1.000000,0.127147,0.000000,0.019603,0.034423
1510,2022-09-28,0.000000,0.039773,0.023985,100.739998,100.739998,0.157247,GOOG,0.393817,0.974019,0.163416,0.010218,0.010703,0.021066
1511,2022-09-29,0.023773,0.000000,0.000000,98.089996,98.089996,0.122370,GOOG,0.248389,0.978596,0.219704,0.005532,0.000000,0.000000

In [40]:
tesla_tweets = tweets.iloc[:37422]
mst_tweets = tweets.iloc[37422:41511]
pg_tweets = tweets.iloc[41511:45600]
meta_tweets = tweets.iloc[41600:48351]
amzn_tweets = tweets.iloc[48351:52440]
glg_tweets  = tweets.iloc[52440:53731]
amd_tweets  = tweets.iloc[53731:55958]
apl_tweets = tweets.iloc[55958:61014]
nfl_tweets = tweets.iloc[61014:62741]
tsm_tweets = tweets.iloc[62741:73775]
ko_tweets = tweets.iloc[73775:74085]
f_tweets = tweets.iloc[74085:74116]
cost_tweets = tweets.iloc[74116:74509]
dis_tweets = tweets.iloc[74509:75144]
vz_tweets = tweets.iloc[75144:75267]
crm_tweets = tweets.iloc[75267:75501]
intc_tweets = tweets.iloc[75501:75815]
ba_tweets = tweets.iloc[75815:76214]
bx_tweets = tweets.iloc[76214:76264]
noc_tweets = tweets.iloc[76264:76298]
pypl_tweets = tweets.iloc[76298:77138]
enph_tweets = tweets.iloc[77138:77354]
nio_tweets = tweets.iloc[77354:80375]
zs_tweets = tweets.iloc[80375:80568]
xpv_tweets = tweets.iloc[80568:80793]

In [41]:
noc_tweets.isna().sum()

Date            0
Tweet           0
Stock Name      0
Company Name    0
dtype: int64

In [42]:
from textblob import TextBlob

# Function to calculate sentiment score using TextBlob
def calculate_sentiment(tweet):
    analysis = TextBlob(tweet)
    return analysis.sentiment.polarity  # Returns sentiment score (-1 to 1)

def merge_tweets_and_stocks(tweets_data, stocks_data):
    # Convert 'Date' columns to datetime format in both datasets
    tweets_data['Date'] = pd.to_datetime(tweets_data['Date'])
    stocks_data['Date'] = pd.to_datetime(stocks_data['Date'])

    # Calculate sentiment score for each tweet and add it to the 'sentiment_score' column
    tweets_data['sentiment_score'] = tweets_data['Tweet'].apply(calculate_sentiment)

    # Aggregate tweets sentiment by date (assuming 'sentiment_score' is calculated)
    daily_sentiment = tweets_data.groupby('Date')['sentiment_score'].mean().reset_index()
    daily_sentiment['tweet_count'] = tweets_data.groupby('Date')['Tweet'].count().reset_index()['Tweet']
    
    # Merge tweets sentiment with stock data on 'date'
    merged_data = pd.merge(stocks_data, daily_sentiment, left_on='Date', right_on='Date', how='left')

    # Fill missing sentiment and tweet_count values with 0 where no tweets for that date
    merged_data['sentiment_score'].fillna(0, inplace=True)
    merged_data['tweet_count'].fillna(0, inplace=True)
    
    return merged_data

In [43]:
tesla_data = merge_tweets_and_stocks(tesla_tweets,tesla_stocks)
mst_data = merge_tweets_and_stocks(mst_tweets,mst_stocks)
pg_data = merge_tweets_and_stocks(pg_tweets,pg_stocks)
meta_data = merge_tweets_and_stocks(meta_tweets,meta_stocks)
amzn_data = merge_tweets_and_stocks(amzn_tweets,amzn_stocks)
glg_data = merge_tweets_and_stocks(glg_tweets,glg_stocks)
amd_data = merge_tweets_and_stocks(amd_tweets,amd_stocks)
apl_data = merge_tweets_and_stocks(apl_tweets,apl_stocks)
nfl_data = merge_tweets_and_stocks(nfl_tweets,nfl_stocks)
tsm_data = merge_tweets_and_stocks(tsm_tweets,tsm_stocks)
ko_data = merge_tweets_and_stocks(ko_tweets,ko_stocks)
f_data = merge_tweets_and_stocks(f_tweets,f_stocks)
cost_data = merge_tweets_and_stocks(cost_tweets,cost_stocks)
dis_data = merge_tweets_and_stocks(dis_tweets,dis_stocks)
vz_data = merge_tweets_and_stocks(vz_tweets,vz_stocks)
crm_data = merge_tweets_and_stocks(crm_tweets,crm_stocks)
intc_data = merge_tweets_and_stocks(intc_tweets,intc_stocks)
ba_data = merge_tweets_and_stocks(ba_tweets,ba_stocks)
bx_data = merge_tweets_and_stocks(bx_tweets,bx_stocks)
noc_data = merge_tweets_and_stocks(noc_tweets,noc_stocks)
pypl_data = merge_tweets_and_stocks(pypl_tweets,pypl_stocks)
enph_data = merge_tweets_and_stocks(enph_tweets,enph_stocks)
nio_data = merge_tweets_and_stocks(nio_tweets,nio_stocks)
zs_data = merge_tweets_and_stocks(zs_tweets,zs_stocks)
xpv_data = merge_tweets_and_stocks(xpv_tweets,xpv_stocks)

In [44]:
print(tesla_data.shape)
print(mst_data.shape)
print(pg_data.shape)

(252, 16)
(252, 16)
(252, 16)

In [45]:
glg_data

,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name,rsi,adx,atr,sma_3,sma_7,sma_14,sentiment_score,tweet_count
0,2021-09-30,0.674269,0.687310,0.683562,133.265503,133.265503,0.295396,GOOG,0.867603,0.305197,0.249060,0.699125,0.746314,0.781485,0.200000,1.0
1,2021-10-01,0.659959,0.715360,0.690636,136.462494,136.462494,0.206040,GOOG,0.867603,0.305197,0.249060,0.699125,0.746314,0.781485,0.000000,2.0
2,2021-10-04,0.699797,0.689394,0.649206,133.764999,133.764999,0.246694,GOOG,0.867603,0.305197,0.249060,0.699125,0.746314,0.781485,0.165104,4.0
3,2021-10-05,0.668233,0.720871,0.702300,136.177002,136.177002,0.150894,GOOG,0.867603,0.305197,0.249060,0.718073,0.746314,0.781485,0.175000,2.0
4,2021-10-06,0.679850,0.730152,0.711416,137.354004,137.354004,0.094454,GOOG,0.867603,0.305197,0.249060,0.723876,0.746314,0.781485,-0.035417,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2022-09-23,0.037888,0.015341,0.027920,99.169998,99.169998,0.170704,GOOG,0.101459,0.905660,0.135047,0.023950,0.050024,0.066830,0.000000,0.0
248,2022-09-26,0.010958,0.021591,0.034853,98.809998,98.809998,0.129052,GOOG,0.088754,0.948700,0.107594,0.016140,0.035458,0.053488,0.200000,4.0
249,2022-09-27,0.035102,0.021970,0.015365,98.089996,98.089996,0.152175,GOOG,0.062647,1.000000,0.127147,0.000000,0.019603,0.034423,0.000000,0.0
250,2022-09-28,0.000000,0.039773,0.023985,100.739998,100.739998,0.157247,GOOG,0.393817,0.974019,0.163416,0.010218,0.010703,0.021066,0.093125,4.0
251,2022-09-29,0.023773,0.000000,0.000000,98.089996,98.089996,0.122370,GOOG,0.248389,0.978596,0.219704,0.005532,0.000000,0.000000,0.176746,6.0

In [46]:
li_df = [tesla_data,mst_data, pg_data, meta_data, amzn_data, glg_data, amd_data, apl_data, nfl_data, tsm_data, ko_data, f_data, cost_data, dis_data, vz_data, crm_data, intc_data, ba_data, bx_data, noc_data, pypl_data, enph_data, nio_data, zs_data, xpv_data]

In [47]:
import os

# List of DataFrames with updated names
dataframes = [
    tesla_data, mst_data, pg_data, meta_data, amzn_data,glg_data,amd_data, apl_data, nfl_data, tsm_data, ko_data, f_data, cost_data, dis_data, vz_data, crm_data, 
    intc_data, ba_data, bx_data, noc_data, pypl_data, 
    enph_data, nio_data, zs_data, xpv_data
]

# Corresponding names for each DataFrame
df_names = [
    "tesla_data", "mst_data", "pg_data", "meta_data", "amzn_data", "glg_data"
    "amd_data", "apl_data", "nfl_data", "tsm_data", "ko_data", 
    "f_data", "cost_data", "dis_data", "vz_data", "crm_data", 
    "intc_data", "ba_data", "bx_data", "noc_data", "pypl_data", 
    "enph_data", "nio_data", "zs_data", "xpv_data"
]

# Directory where you want to save the files
save_dir = r"C:\Users\prajjwal\Desktop\College-project\data\train_data"

# Check if directory exists, if not create it
if not os.path.exists(save_dir):
    os.makedirs(save_dir)

# Save each DataFrame with its respective name
for df, name in zip(dataframes, df_names):
    # Create the file path using the name and ensure it ends with '.csv'
    file_path = os.path.join(save_dir, f"{name}.csv")
    df.to_csv(file_path, index=False)

print("DataFrames saved successfully.")

DataFrames saved successfully.

In [48]:
df = pd.concat(li_df, ignore_index= True)

In [49]:
df.drop(columns = ('Adj Close'), inplace =True)

In [50]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Stock Name', 'rsi',
       'adx', 'atr', 'sma_3', 'sma_7', 'sma_14', 'sentiment_score',
       'tweet_count'],
      dtype='object')

In [51]:
print(df.isna().sum())

Date               0
Open               0
High               0
Low                0
Close              0
Volume             0
Stock Name         0
rsi                0
adx                0
atr                0
sma_3              0
sma_7              0
sma_14             0
sentiment_score    0
tweet_count        0
dtype: int64

In [52]:
df.to_csv(r"C:\Users\prajjwal\Desktop\College-project\data\df_normalized.csv",index=False)

In [53]:
df.isna().sum()

Date               0
Open               0
High               0
Low                0
Close              0
Volume             0
Stock Name         0
rsi                0
adx                0
atr                0
sma_3              0
sma_7              0
sma_14             0
sentiment_score    0
tweet_count        0
dtype: int64

In [54]:
df.shape

(6500, 15)